# Task 01: The relative cases overtime of Covid infectors (absolut Covid cases/population size)

###  Installing and Importing all Required Libraries

In [1]:
pip install plotly

Requirement already satisfied: plotly in /opt/anaconda3/lib/python3.8/site-packages (5.9.0)
Requirement already satisfied: tenacity>=6.2.0 in /opt/anaconda3/lib/python3.8/site-packages (from plotly) (8.0.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
#Importing all required plots and tools required for plotting.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import plotly
plotly.__version__
import plotly.express as px

### Setting the seaborn style to darkgrid

In [5]:
pd.set_option('display.max_rows',500)

## Step 2: Importing the Corona Cases Data from John Hopkins Data Set

In [6]:
#Importing raw covid cases data
url="https://covid.ourworldindata.org/data/owid-covid-data.csv"
df_raw=pd.read_csv(url)
df_raw.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

## Step 3: Understanding the Data and preparation required for plotting of Covid Cases over time

In [7]:
time_idx = df_raw.columns[4:]
time_idx

Index(['total_cases', 'new_cases', 'new_cases_smoothed', 'total_deaths',
       'new_deaths', 'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [9]:
country_list=['Albania',
             'Spain',
              'Greece']

In [10]:
df_plot

                                          date
0                                  total_cases
1                                    new_cases
2                           new_cases_smoothed
3                                 total_deaths
4                                   new_deaths
5                          new_deaths_smoothed
6                      total_cases_per_million
7                        new_cases_per_million
8               new_cases_smoothed_per_million
9                     total_deaths_per_million
10                      new_deaths_per_million
11             new_deaths_smoothed_per_million
12                           reproduction_rate
13                                icu_patients
14                    icu_patients_per_million
15                               hosp_patients
16                   hosp_patients_per_million
17                       weekly_icu_admissions
18           weekly_icu_admissions_per_million
19                      weekly_hosp_admissions
20          weekly_hosp_admissions_per_million
21                                 total_tests
22                                   new_tests
23                    total_tests_per_thousand
24                      new_tests_per_thousand
25                          new_tests_smoothed
26             new_tests_smoothed_per_thousand
27                               positive_rate
28                              tests_per_case
29                                 tests_units
30                          total_vaccinations
31                           people_vaccinated
32                     people_fully_vaccinated
33                              total_boosters
34                            new_vaccinations
35                   new_vaccinations_smoothed
36              total_vaccinations_per_hundred
37               people_vaccinated_per_hundred
38         people_fully_vaccinated_per_hundred
39                  total_boosters_per_hundred
40       new_vaccinations_smoothed_per_million
41              new_people_vaccinated_smoothed
42  new_people_vaccinated_smoothed_per_hundred
43                            stringency_index
44                                  population
45                          population_density
46                                  median_age
47                               aged_65_older
48                               aged_70_older
49                              gdp_per_capita
50                             extreme_poverty
51                       cardiovasc_death_rate
52                         diabetes_prevalence
53                              female_smokers
54                                male_smokers
55                      handwashing_facilities
56                  hospital_beds_per_thousand
57                             life_expectancy
58                     human_development_index
59        excess_mortality_cumulative_absolute
60                 excess_mortality_cumulative
61                            excess_mortality
62     excess_mortality_cumulative_per_million

## PLOT:  The relative cases overtime of Covid infectors (absolut Covid cases/population size)ver new tab with enhanced features

In [11]:
import plotly.io as pio
pio.renderers.default = 'browser'

In [12]:
b_Spain = df_raw['location']=="Spain"
b_Greece = df_raw['location']=="Greece"
b_Albania = df_raw['location']=="Albania"

b_all = b_Spain|b_Albania|b_Greece
df_list = df_raw[b_all]

In [13]:
img=px.line(df_list, x="date", y="total_cases", color = "location", title="Covid Cases")
img.show()

In [14]:
df_list['abs_covid_cases']=df_list['total_cases']/df_list['population']

img=px.line(df_list, x="date", y="abs_covid_cases", color = "location", title="Absolute Covid Cases By Population")
img.update_layout(
    title="Covid cases overtime",
    xaxis_title="Time",
    yaxis_title="Relative Covid Cases",
    legend_title="Country",
    font=dict(
        family="Aerial",
        size=12,
        color="darkblue"
    )
)
#img.update_yaxes(type="log",range=[1.0,5.5])
img.update_layout(xaxis_rangeslider_visible=True)

<ipython-input-14-0288a7e39a4e>:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy