# Task 01: The relative cases overtime of Covid infectors (absolut Covid cases/population size)

###  Installing and Importing all Required Libraries

In [1]:
pip install plotly

Requirement already satisfied: plotly in /opt/anaconda3/lib/python3.8/site-packages (5.9.0)
Requirement already satisfied: tenacity>=6.2.0 in /opt/anaconda3/lib/python3.8/site-packages (from plotly) (8.0.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#Importing all required plots and tools required for plotting.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import plotly
plotly.__version__
import plotly.express as px

### Setting the seaborn style to darkgrid

In [3]:
pd.set_option('display.max_rows',500)

## Step 2: Importing the Corona Cases Data from John Hopkins Data Set

In [4]:
#Importing raw covid cases data
url="https://covid.ourworldindata.org/data/owid-covid-data.csv"
df_raw=pd.read_csv(url)
df_raw.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

## Step 3: Understanding the Data and preparation required for plotting of Covid Cases over time

In [5]:
time_idx = df_raw.columns[4:]
time_idx

Index(['total_cases', 'new_cases', 'new_cases_smoothed', 'total_deaths',
       'new_deaths', 'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [6]:
country_list=['Albania',
             'Spain',
              'Greece']

## PLOT:  The relative cases overtime of Covid infectors (absolut Covid cases/population size)ver new tab with enhanced features

In [8]:
import plotly.io as pio
pio.renderers.default = 'browser'

In [9]:
b_Spain = df_raw['location']=="Spain"
b_Greece = df_raw['location']=="Greece"
b_Albania = df_raw['location']=="Albania"

b_all = b_Spain|b_Albania|b_Greece
df_list = df_raw[b_all]

In [10]:
img=px.line(df_list, x="date", y="total_cases", color = "location", title="Covid Cases")
img.show()

In [11]:
df_list['abs_covid_cases']=df_list['total_cases']/df_list['population']*100

img=px.line(df_list, x="date", y="abs_covid_cases", color = "location", title="Absolute Covid Cases By Population")
img.update_layout(
    title="Covid cases overtime",
    xaxis_title="Time",
    yaxis_title="Relative Covid Cases",
    legend_title="Country",
    font=dict(
        family="Aerial",
        size=12,
        color="darkblue"
    )
)
#img.update_yaxes(type="log",range=[1.0,5.5])
img.update_layout(xaxis_rangeslider_visible=True)

<ipython-input-11-7509e7a6da54>:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy